* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav { 
  font-family: Peralta, 'Times New Roman'; 
  text-align: center;
  font-size: 15px; 
}
#header-img { 
  width: 550px;
  height: 25em;
  border-radius: 100px;

}


h1 { 
  font-family: Peralta,'Times New Roman'; 
  border-radius: 10px;
  text-align: center;
  width: 18em;
  margin-left: 280px;

}

#outside-wrapper {
  width: 70%;        
  background-color: seashell;
  text-align: center;
  margin: 0 auto;      
  padding: 20px;       
}

.about, .project {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(103, 224, 198, 0.1);
  margin-bottom: 2rem;
}

#img {
  border: 6px solid salmon;
  border-radius: 10px; 
}

main { 
  text-align: center;
  font-family: 'lucida console', Helvetica; 
}

#about-me { 
  text-align: center;
  font-family: 'lucida console', Helvetica;
  padding: 1px 35px 25px 46px; 
}

#projects { 
  margin:auto; 
}

#restaurant {
  width: 450px;
  border-radius: 40px;
  border: 6px ridge #008B8B;
  padding: 25px;
  background-color: #F0FFF0;
  padding-left:10px;
  
}

footer { 
  font-family:'Courier New', Courier, monospace;
  font-style: italic;
  font-size: 15px;
 
}
